


#groups {
    flex-grow: 1;
    display: flex;
    height: 100%;
}

#leftbar {
    width: 30%;
    min-width: 30%;
    color: var(--color2);
    overflow-y: scroll;
}

#rightbar {
    flex-grow: 1;
    border-left: 2px solid var(--color4);
    display: flex;
    flex-direction: column;
}

#rightbar-nav {
    display: flex;
    background-color: var(--color3);
    height: 2rem;
    min-height: 2rem;
}

#bottom-bar {
    display: flex; 
    background-color: var(--color3);
    height: 3rem;
    min-height: 3rem;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

.message-slot {
    background-color: var(--color3);
    color: var(--color2);
    padding: .5rem;
    font-size: .8rem;
    
    
}

.received {
    display: flex;
    max-width: 60%;
    margin-right: auto;
    margin-top: .5rem;
    overflow: initial;
    
}

.sent {
    display: flex;
    flex-direction: row-reverse;
    max-width: 60%;
    margin-left: auto;
    margin-top: .5rem;
    overflow: initial;
    
}

.photo-1 {
    border-radius: '50%'; 
    border: .5px solid var(--color3);
    min-height: 2rem;
    min-width:  2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: .1rem solid var(--color3);
}

.received .on {
    border: .1rem solid greenyellow;
}

.hover1 {
    margin: .5rem;
    text-align: center;
    padding: .5rem;
}

.hover1:hover {
    background-color: var(--color4);
}

.file-input-container {
    position: relative;
    color: var(--color5); 
    cursor: pointer; 
    
}


.file-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer; 
    opacity: 0;
}

.preview {
    height: 10rem;
    width: 10rem;
    min-width: 10rem;
    overflow: hidden;
}

.media {
    height: 10rem;
    width: 10rem;
    overflow-x: hidden;
}

audio.media {
    height: 3rem;
}

