
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

input[type="file"]::file-selector-button {
  cursor: pointer;
}

.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
	overflow: auto;
}

:root {
	--color1 : black;
	--color2 : white;
	--color3 : rgb(0, 24, 59);
	--color4:  rgb(0, 43, 108) ;
	--color5: rgb(168, 164, 164);
}

html {
	font-size: 22px;
	height: 100vh;
	width: 100vw;
	min-width: 680px;
	min-height: 500px;
	overflow: auto;
	color: white;
	background-color: var(--color3);
}

body {
	height: 100%;
	width: 100%;
}

button {
	background-color: var(--color3);
	border: 1px solid var(--color3);
	color: var(--color2);
	font-family: "Rancho", cursive;
	padding: .25rem;
	margin: .25rem;
}

button:hover {
	border: 1px solid var(--color2);
}

input {
	background-color: var(--color3);
	color: var(--color2);
}

#home {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	color: black;
}

#home a {
	text-align: center;
	margin: 1rem;
}

/* Styling the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust width for vertical scrollbar */
  height: 10px; /* Adjust height for horizontal scrollbar */
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
  background: rgb(0,0,0,0);
  border-radius: 5px;
}

/* Styling the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(255,255,255,0.2);
  border-radius: 5px;
}

/* Styling the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255,255,255,1);
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}