
#story {
    display: flex;
    height: 10rem;
    width: 100%;
    gap: .2rem;
}

#create {
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#create-story {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.5);
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    z-index: 10;
}


.color-choice {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 50%;
}

#create-story textarea {
    width: 100%;
    height: 10rem;
    resize: none;
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
}

#create-story .special {
    height: 10rem;
}

#create-story textarea:focus {
    outline: none;
}

.hidden-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.story-item {
    min-width: 8rem;
    cursor: pointer;
    width: 8rem;
    height: 100%;
    overflow: hidden;
    box-shadow: .1rem .1rem .1rem var(--color4);
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

#story-board {
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: black;
}

.story-board-item {
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes anim1 {
    from { width: 0%; }
    to { width: 100%; }
}

#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 21;
    animation: anim1 2s linear  infinite;
    background-color: white;
    height: .2rem;
}